<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <th:block th:replace="~{/fragments/head :: common-head('헤더')}" />  
</head>
  <body>
    <header th:fragment="common-header">
      <div class="headerContainer">
        <!-- ✅ 로고 -->
        <a class="logo" href="/">
          <div class="logo-1">YUJU</div>
        </a>
    
        <!-- ✅ 네비게이션 메뉴 -->
        <nav class="navbar">
          <ul class="navbarnav">
            <li class="navItem"><a class="navLink" th:href="@{/room}">객실소개</a></li>
            <li class="navItem"><a class="navLink" href="#">예약</a></li>
            <li class="navItem"><a class="navLink" th:href="@{/login}">로그인</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>