<th:block th:fragment="common-head(title)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}" />
  <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/reset.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/header.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/footer.css}" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  
    crossorigin="anonymous">
</th:block>
