<th:block th:fragment="common-scripts">
  <!-- Axios (비동기 HTTP 요청) -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- SweetAlert2 (알림 팝업) -->
  <script
    src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"
  ></script>

  <!-- jQuery -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0-beta/jquery.min.js"
  ></script>

  <!-- Swiper 최신 JS -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
  ></script>

  <!-- 공통 header 스크립트 -->
  <script th:src="@{/assets/js/header.js}"></script>

  <!-- 로그인 여부에 대한 접근 관련 스크립트 -->
  <script th:src="@{/assets/js/account/accessControl.js}"></script>

  <!-- 프로젝트 내부 공통 스크립트 -->
  <script th:src="@{/assets/js/AxiosHelper.js}"></script>
  <script th:src="@{/assets/js/RegexHelper.js}"></script>
  <script th:src="@{/assets/js/UtilHelper.js}"></script>
</th:block>
