<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{/fragments/head :: common-head('로그인')}" />
    <th:block th:replace="~{/fragments/header :: common-header}" />
    <link rel="stylesheet" th:href="@{/assets/css/account/login.css}" />
  </head>
  <body>
    <main>
      <div class="login-container">
        <div class="login-form">
          <h2>로그인</h2>
          <form th:action="@{/account/login}" method="post">
            <div class="form-group">
              <label for="email">아이디(이메일)</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="이메일을 입력해주세요"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <div class="password-wrapper">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="비밀번호를 입력해주세요"
                  required="required"
                />
                <i class="fa-solid fa-eye" id="togglePassword"></i>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>

            <div class="login-options">
              <div class="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me" />
                <label for="remember-me">아이디 저장</label>
              </div>
              <div class="signup-link">
                <a th:href="@{/join}">회원가입</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <th:block th:replace="~{/fragments/footer :: common-footer}" />
    </footer>
    <th:block th:replace="~{/fragments/scripts :: common-scripts}" />
    <script th:src="@{/assets/js/account/login.js}"></script>
  </body>
</html>
