<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- 공통 head 포함 -->
    <th:block th:replace="~{/fragments/head :: common-head('YUJU Hotel')}" />
    <link rel="stylesheet" th:href="@{/assets/css/index.css}" />
    <!-- 공통 헤더 포함 -->
    <th:block th:replace="~{/fragments/header :: common-header}" />
  </head>
  <body>
    <main>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img th:src="@{/assets/img/exterior.jpg}" alt="외관"/>
          </div>
          <div class="swiper-slide">
              <img th:src="@{/assets/img/lobby.jpg}" alt="라운지"/>
          </div>
          <div class="swiper-slide">
              <img th:src="@{/assets/img/service.jpg}" alt="서비스"/>
          </div>
          <div class="swiper-slide">
              <img th:src="@{/assets/img/view.jpg}" alt="뷰"/>
          </div>
          <div class="swiper-slide">
              <img th:src="@{/assets/img/roomview.jpg}" alt="룸뷰"/>
          </div>
        </div>
        <!-- ✅ 페이지네이션 추가 -->
        <div class="swiper-pagination"></div>
      </div>
    </main>
    <th:block th:replace="~{/fragments/footer :: common-footer}" />
    <!--  공통 스크립트 포함 -->
    <th:block th:replace="~{/fragments/scripts :: common-scripts}" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1, /* 한 번에 한 개의 슬라이드 */
        loop: true, /* 무한 루프 */
        pagination: {
          el: ".swiper-pagination",
          clickable: true, /* ✅ 동그라미 클릭 시 해당 이미지로 이동 */
        },
        autoplay: {
          delay: 3000, /* ✅ 3초마다 자동 전환 */
          disableOnInteraction: false, /* ✅ 유저가 클릭해도 자동 슬라이드 유지 */
        },
      });
    </script>
  </body>
</html>